<body>
    <div class="container">
        <br>
        <h1>About TrackCash</h1>
        <br>

        <div class="box-container">
            <div class="box mission">
                <div class="section-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-vector-pen about-icon" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z" />
                        <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086z" />
                    </svg>
                </div>
                <h2>Mission</h2>
                <p>Our mission at TrackCash is to empower individuals to take control of their finances by providing a
                    user-friendly and comprehensive financial management solution.</p>
            </div>
            <div class="box vision">
                <div class="section-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-eye about-icon" viewBox="0 0 16 16">
                        <path
                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                        <path
                            d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                    </svg>
                </div>
                <h2>Vision</h2>
                <p>Our vision is to become the go-to platform for individuals seeking to improve their financial
                    well-being. We aspire to continuously innovate and expand our features to meet the evolving needs of
                    our users.</p>
            </div>
        </div>
        <br>
        <br>
        <h1>Our Team</h1>
        <div class="team-container">
            <div class="team-member">
                <img src="assets/images/ez.jpg" salt="Team Member 1">
                <h3>Castro, Ezralyn</h3>
                <p>Founder</p>
            </div>
            <div class="team-member">
                <img src="assets/images/jai.jpg" alt="Team Member 2">
                <h3>Nunag, Jaira Micah P.</h3>
                <p>Founder</p>
            </div>
            <div class="team-member">
                <img src="assets/images/pat.jpg" alt="Team Member 3">
                <h3>Quiatchon Patricia Mae Q.</h3>
                <p>Founder</p>
            </div>
            <div class="team-member">
                <img src="assets/images/shane.jfif" alt="Team Member 4">
                <h3>Paras, Shane B.</h3>
                <p>Founder</p>
            </div>
        </div>
    </div>
</body>